[Unit]
Description=Daily xiuxian mini web backup

[Timer]
OnCalendar=*-*-* 03:40:00
RandomizedDelaySec=20m
Persistent=true

[Install]
WantedBy=timers.target
